{% extends "base.html" %}

{% load i18n mezzanine_tags keyword_tags %}

{% block meta_title %}Bookmarks{% endblock %}

{% block content-block %}
{% regroup bookmarks.object_list by publish_date|date:"Y-m-d" as bookmarks_list %}
<div class="block">
    <div class="block_head">
        <h1>
          <i class="icon-bookmark"></i> Bookmarks{% if tag %} tagged with '{{ tag }}'{% endif %}{% if user %} created by '{{ user }}'{% endif %}
		</h1>
    </div>
    <div class="block_content">
    	{% for date_bookmarks in bookmarks_list %}
    		<h2 class="section-title">{{ date_bookmarks.grouper }}</h2>
    		<ul>
    		{% for bookmark in date_bookmarks.list %}
    			<li>
    				<a href="{{ bookmark.page.url }}">{{ bookmark.title }}</a> <a href="{% url bookmark bookmark.pk %}"><i class="icon-caret-right"></i></a><br/>
    				<div class="post-meta">
					{% keywords_for bookmark as tags %}
					{% for tag in tags %}
					<i class="icon-tag"></i> <a href="{% url tagged_bookmarks tag.slug %}">{{ tag }}</a>
					{% endfor %}
    				</div>
    			</li>
    		{% endfor %}
    		</ul>
    	{% endfor %}
    </div>
</div>

{% pagination_for bookmarks %}

{% endblock %}
